// .entry-content {

// 	[class*="_inner-container"] {
// 		width: 100%;

// 		> * {
// 			margin-left: auto;
// 			margin-right: auto;

// 			&:not(.alignfull) {
// 				width: #{'min(calc(100% - 60px), var(--container-width))'};
// 			}

// 			&:not(.alignwide):not(.alignfull) {
// 				max-width: var(--block-max-width);
// 			}
// 		}

// 		> .alignwide {
// 			max-width: var(--block-wide-max-width);
// 		}
// 	}
// }

.entry-content {

	.wp-block-cover,
	.wp-block-group {

		[class*="_inner-container"] {
			width: 100%;

			> * {
				margin-left: auto;
				margin-right: auto;

				&:not(.alignfull) {
					width: #{'min(var(--container-min-width, 100%), var(--container-width))'};
				}

				&:not(.alignwide):not(.alignfull) {
					max-width: var(--block-max-width);
				}
			}

			> .alignwide {
				max-width: var(--block-wide-max-width);
			}
		}
	}
}