.password-input {
	position: relative;
	display: block;
}

.show-password-input {
	position: absolute;
	top: 9px;
	right: 12px;
	cursor: pointer;

	&:after {
		font-family: 'woo';
		content: '\e90b';
		font-size: 16px;
		line-height: 16px;
	}

	&.display-password:after {
		opacity: 0.5;
	}
}

.woocommerce-password-strength {
	font-size: 13px;
	font-weight: 500;
	padding: 4px 12px;
	margin-top: 7px;

	&.strong {
		background-color: #c1e1b9;
	}

	&.good {
		background-color: #ffe399;
	}

	&.short {
		background-color: #f1adad;
	}

	&.bad {
		background-color: #fbc5a9;
	}
}