[data-footer*='reveal'] {
	.site-main {
		z-index: 1;
		box-shadow: var(--footer-box-shadow);
	}

	.ct-footer {
		position: var(--position);
		bottom: var(--frame-size, 0px);
	}

	// content blocks
	#main-container > [data-block] {
		z-index: 1;
	}
}