.ct-social-box {
	display: inline-flex;
	flex-direction: var(--items-direction, row);
	flex-wrap: var(--wrap, wrap);
	margin-top: calc(var(--spacing, 15px) * -1);
	margin-left: calc(var(--spacing, 15px) / -2);
	margin-right: calc(var(--spacing, 15px) / -2);

	a {
		display: flex;
		align-items: center;
		margin-top: var(--spacing, 15px);
		margin-left: calc(var(--spacing, 15px) / 2);
		margin-right: calc(var(--spacing, 15px) / 2);
	}

	// icons label
	.ct-label:not([hidden]) {
		margin-inline-start: 0.7em;
		display: var(--visibility);
		transition: color 0.12s cubic-bezier(.455,.03,.515,.955);
	}
}