span.jwcontrols span button {
	-moz-border-radius: initial;
	-webkit-border-radius: initial;
	border-radius: initial;
	-moz-transition: initial;
	-o-transition: initial;
	-webkit-transition: initial;
	transition: initial;
	background: initial;
	border: initial;
	color: initial;
	-webkit-appearance: initial;
	font-weight: initial;
	line-height: initial;
	outline-style: initial;
	padding: initial;
	text-transform: initial;
}
